.page-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: var(--header_height);
    background-color: hsl(var(--header_clr));
    display: flex;
    align-items: center;
}

.page-header button {
    background: hsl(var(--header_clr));
    color: white;
    font-weight: 700;
    font-size: 1.7rem;
    transition: .2s;
    cursor: pointer;
}

.menu-btn:hover {
    filter: brightness(85%);
}

.page-header .menu-btn {
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    flex-shrink: 0;
}

.page-header .menu-icon::before {
    content: '\ef3e';
    font-family: 'remixicon';
    font-style: normal;
    font-size: 3rem;
}

.page-header .menu-icon-open::before {
    content: '\eb99';
}

.page-header .date-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    cursor: default;
}

@media (max-width: 700px) {
    .page-header .date-button {
        display: none;
    }
}

.header-right {
    margin-left: auto;
    display: flex;
    align-items: stretch;
    align-self: stretch;
}

.header-right .switch-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 .5em;
    gap: 2px;
}

.switch-label {
    color: #888;
    font-size: 9px;
    line-height: 1;
}

.page-header #switch,
.page-header #switch-reqs,
.page-header #switch-simplified,
.page-header #switch-true {
    display: none;
}

.page-header label {
    height: 22px;
    aspect-ratio: 2/1;
    border-radius: 50em;
    position: relative;
    display: block;
    background: hsl(var(--header_clr));
    box-shadow:
        inset .75em .75em 1.5em #0007,
        inset -.75em -.75em 1.5em #fff2;
    cursor: pointer;
}

.page-header label::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: linear-gradient(330deg, #159749, #1c9277);
    box-shadow:
        inset .75em .75em 1.5em #0005,
        inset -.75em -.75em 1.5em #fff2;
    clip-path: circle(0 at 0 50%);
    transition: .5s cubic-bezier(0, -1.6, 0, -0.16);
}

.page-header label::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    background: #757575;
    height: 80%;
    top: 10%;
    left: 5%;
    aspect-ratio: 1;
    transition: .3s ease-in-out;
    box-shadow: .2em .2em .4em rgb(36, 36, 36)
}

.page-header input:checked~label::after {
    left: 55%;
    background: rgb(187, 187, 187);
}

.page-header input:checked~label::before {
    clip-path: circle(150% at 0 50%);
}


